{{!-- Welcome Homepage  --}}
<div class="container">
    <div class="row">
    

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome!</h1>
        <p>Get started by signing into your account, or sign up if you don't have an account.</p>
             <p>Sign in <a href="/login">here</a></p>
            <p>Sign up <a href="/signup">here</a></p>
  </div>
</div>
        </div>
    </div>
</div>

