

  <h1>My Watch List</h1>
  {{!-- Watch list cards --}}

{{!-- This is where handlebars can go --}}
  <div class="container">
    <div class="row border">
      <div class="col-5">
        <div class="card bg-dark text-white">
          <img class="" src="" alt="">
          <div class="card-img-overlay">
            <h5 class="card-title">Show or Movie Title</h5>
            <p class="card-text"> Seasons</p>
            <p class="card-text"> Description</p>
            <a href="#" class="card-link">Where this show or movie is currently streaming</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{{!-- each handlebars can go here --}}

  {{!-- You do not need jquery here as it is in the main hbars --}}
  {{!-- You do not need <body> or <html> tags here as this is the body and html is in main hbars --}}