<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>

        {{!-- Search --}}
        <h6>Start by searching for a show or movie to stream</h6>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search shows & movies..." aria-label="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>


        <h1>My Watch List</h1>
        {{!-- Watch list cards --}}
        <div class="card bg-dark text-white">
          <img class="card-img" src="" alt="Card image">
          <div class="card-img-overlay">
            <h5 class="card-title">Show or Movie Title</h5>
            <p class="card-text"> Seasons</p>
            <p class="card-text"> Description</p>
            <a href="#" class="card-link">Where this show or movie is currently streaming</a>
          </div>
        </div>

        <script type="text/javascript" src="/assets/js/index.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        </body>

        </html>