{{!-- add to github --}}

  <h1>My Watch List</h1>
  {{!-- Watch list cards --}}

{{#each movies}}
  <div class="container">
    <div class="row text-center">
      <div class="col justify-content-center">
        <div class="card bg-dark text-white  mb-3 pb-3">
          <div class="card-img-overlay">
            <h5 class="card-title">Original Title: {{title}}</h5>
            <img src={{poster}} alt="Poster">
            <p class="card-text">Rating: {{ rating }}</p>
            <p class="card-text">Release Date: {{ date }}</p>
           <a href="#" class="card-link">Where this show or movie is currently streaming</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
{{/each}}

