<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
         {{!-- Member Name --}}
        <h2>Welcome <span class="member-name">{{ name }}</span></h2>
      </div>
    </div>
  </div>
</div>

   {{!-- Home page search --}}
   
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search shows & movies..." aria-label="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>


  <button type="buton" class="btn btn-secondary btn-lg">Add to My Watch List</button>

<button type="buton" class="btn btn-secondary btn-lg">Add to your watch list</button> 

<script type="text/javascript" src="members.js"></script>

{{!-- You do not need jquery here as it is in the main hbars --}}
{{!-- You do not need <body> or <html> tags here as this is the body and html is in main hbars --}}