<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {{!-- Member Name --}}
      <h2>Welcome <span class="member-name">{{ name }}</span></h2>
    </div>
  </div>
</div>
</div>

<form class="form-inline">
  <input id="searchText"class="form-control mr-sm-2" type="search" placeholder="Search shows & movies..." aria-label="Search">
  <button id="searchBtn" class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>

<div class="row">
  <div class="col-6">
    <h3 class="streamTitles border border-primary rounded-pill text-center">Save Your Stream Here!</h3>
    <ol>
      {{#each watchlists}}
      {{#unless watched}}
      <section class="row mb-1 pb-1">
        <section class="col-6 float-left">
          <li class="streamInfo text-center">{{ data.title }}</li>
        </section>
        <section class="col-6 float-right">
          <button type="buton" class="btn btn-secondary btn-lg">Add to My Watch List</button>
        </section>


        {{/unless}}
        {{/each}}
    </ol>
  </div>






  {{!-- You do not need jquery here as it is in the main hbars --}}
  {{!-- You do not need <body> or <html> tags here as this is the body and html is in main hbars --}}