<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      {{!-- Member Name --}}
      <h2>Welcome <span class="member-name">{{ name }}</span></h2>
    </div>
  </div>
</div>
</div>

<form class="form-inline justify-content-center">
  <input id="searchText" class="form-control mr-3" type="search" placeholder="Search shows & movies..."
    aria-label="Search">
  <button id="searchBtn" class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>


<div class="row">
  <div class="col">
    <h3 class="streamTitles text-center">Save Your Stream Here!<h3>

        <section class="row">
          <section class="col">
            <section class="streamMovieInfo text-center"><img src="/img/streaming.png" alt="streaming services"></section>
          </section>

          <section class="col">
            <section class="streamTvInfo text-center"><img src="/img/streaming.png" alt="streaming services"></section>
          </section>
        </section>
  </div>
</div>

<div class="row">
  <div class="col">
    <h3 class="similarTitles text-center">Related Movies<h3>

        <section class="row">
          <section class="col">
            <section class="row relatedMovies text-center"><img src="/img/filmreel.png" alt="film reel"></section>
          </section>
        </section>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3 class="similarTitles text-center">Related Shows<h3>
        <section class="row">
          <section class="col">
            <section class="row relatedStreams text-center"><img src="/img/tvshow.png" alt="tv"></section>
          </section>
        </section>
  </div>
</div>