@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');

/* MAIN BODY */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-style: oblique;
  color: white!important;
  background-image: url("../img/mainBackground.png");
}

/* NAVBAR */
.navbar-brand {
  padding: 15px;
  font-size: 25px;
  line-height: 20px;
  height: 50px;
}

.navbar-nav {
  float: right
}

a.navbar-brand:hover {
  color: rgb(65, 104, 211);
  box-shadow: 0 3px 7px rgba(65, 104, 211);
  border-radius: 10px;
}

.navbar-brand {
  color: white;
}



.nav-item:hover {
 
    color: rgb(65, 104, 211);
    box-shadow: 0 3px 7px rgba(65, 104, 211);
    border-radius: 10px;
   
  
}

.navbar {
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;

}

/* .BG --> navbar */

.bg-light {
  background-color: rgb(20, 20, 20)!important;
  box-shadow: 0 3px 10px rgba(65, 104, 211);
  color: whitesmoke;
}


/* BUTTONS */

.btn-default {
  color: rgb(255, 255, 255);
  background-color: rgb(20, 20, 20);
  box-shadow: 0 5px 15px rgba(65, 104, 211);
  border-color: rgb(20, 20, 20);
}

button.deleteBtn:hover {
  color: rgb(65, 104, 211);
  box-shadow: 0 5px 15px rgba(65, 104, 211)
 }
 button.btn-default:hover {
  color: rgb(65, 104, 211);
  box-shadow: 0 5px 15px rgba(65, 104, 211)
 }
 button.btn.btn-default:hover {
  color: rgb(65, 104, 211);
  box-shadow: 0 5px 15px rgba(65, 104, 211)
 }
 .deleteBtn {
  color: rgb(255, 255, 255);
  background-color: rgb(20, 20, 20);
  box-shadow: 0 5px 15px rgb(255, 255, 255);
  border-color: rgb(20, 20, 20);
 }

 .addMovie {
  color: rgb(255, 255, 255);
  background-color: rgb(20, 20, 20);
  /* box-shadow: 0 5px 15px rgba(65, 104, 211); */
  border-color: rgb(20, 20, 20);
}
button.addMovie:hover {
  color: rgb(65, 104, 211);
  box-shadow: 0 5px 15px rgb(255, 255, 255);
 }

.addShow {
  color: rgb(255, 255, 255);
  background-color: rgb(20, 20, 20);
  /* box-shadow: 0 5px 15px rgba(65, 104, 211); */
  border-color: rgb(20, 20, 20);
}
button.addShow:hover {
  color: rgb(65, 104, 211);
  box-shadow: 0 5px 15px rgb(255, 255, 255);
 }

.relatedStreams button, .relatedMovies button {
    color: rgb(255, 255, 255);
    background-color: rgb(20, 20, 20);
    /* box-shadow: 0 5px 15px rgba(65, 104, 211); */
    border-color: rgb(20, 20, 20);
}

.relatedMovies button:hover, .relatedStreams button:hover {
  color: rgb(65, 104, 211);
  box-shadow: 0 5px 15px rgb(255, 255, 255);
 }

 #searchBtn {
  color: rgb(255, 255, 255);
  background-color: rgb(20, 20, 20);
  box-shadow: 0 5px 15px rgba(65, 104, 211);
  border-color: rgb(20, 20, 20);
 }
#searchBtn:hover {
  color: rgb(255, 255, 255)!important;
  box-shadow: 0 5px 15px rgb(255, 255, 255)!important;
}

#searchText {
  box-shadow: 0 5px 15px rgba(65, 104, 211);
}

#searchText:hover {
  color: rgb(255, 255, 255)!important;
  box-shadow: 0 5px 15px rgb(255, 255, 255)!important;
}

#searchText-input:focus {
  color: rgb(0, 0, 0);
  box-shadow: 0 3px 7px rgb(255, 255, 255);
}




/* H TAGS */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 20px;
}

.h2 {
  font-weight: bolder;
}

/* LOGIN */

form.login {
  margin-top: 10px;
}

#email-input {
  box-shadow: 0 5px 15px rgba(65, 104, 211);
}
#email-input:focus {
  color: rgb(0, 0, 0);
  box-shadow: 0 3px 7px rgb(255, 255, 255);
}
#password-input {
  box-shadow: 0 5px 15px rgba(65, 104, 211);
}
#password-input:focus {
  color: rgb(0, 0, 0);
  box-shadow: 0 5px 15px rgb(255, 255, 255);
}
#name-input {
  box-shadow: 0 5px 15px rgba(65, 104, 211);
}
#name-input:focus {
  color: rgb(0, 0, 0);
  box-shadow: 0 5px 15px rgb(255, 255, 255);
}


#member-login {
  font-size: 20px;
  text-align: center;
  margin-top: -5px;  
}

.jumbotron {
color: whitesmoke;
background-image: url("../img/dark_Tire.png");
box-shadow: 0 5px 15px rgba(65, 104, 211);
}

#started {
  color: whitesmoke ;
  text-shadow: none;
  font-weight: bolder;
  text-align: center;
}
#signin {
  color: whitesmoke; ;
  text-shadow: none;
  font-weight: bolder;
  font-size: 30px;
  
}
#signup {
  color: whitesmoke; ;
  text-shadow: none;
  font-weight: bolder;
  font-size: 30px;
  float: right;
}

#signup:hover {
  color: rgba(65, 104, 211);
  text-decoration: none;
}

#signin:hover {
  color: rgba(65, 104, 211);
  text-decoration: none;
}


/* CARDS */

.card-img, .card-img-bottom {
  border-bottom-right-radius: calc(.25rem - 1px);
  border-bottom-left-radius: calc(.25rem - 1px);
  width: 600px;
  height: auto;
}

.card-body {
  width: auto;
  height: auto;
  justify-content: center;
 
}
.card-subtle {
  color: whitesmoke;
}
.card {
  color: whitesmoke;
  background-image: url("../img/dark_Tire.png");
  box-shadow: 0 5px 15px rgba(65, 104, 211);
  margin: 10px;
}

img {
  display: block;
  height: 300px;
  /* width: auto; */
  margin-left: auto;
  margin-right: auto;
} 

.display-4 {
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(20, 20, 20);
  box-shadow: 0 3px 7px rgba(65, 104, 211);
  color: white;
  text-align: center;
}

.row {
  margin-right: 0px!important;
}

form.login {
  margin-top: 50px;
}

    /* jumbotron customization with box shadow addition for all browsers */

.jumbotronLoginSignUp {

  justify-content: center !important;
  background-color: #dfdfdf !important;
  padding: 34px 14px !important;
  border-radius: 40px;
  /* margin: 10px 10px 10px 10px auto !important; */
  -webkit-box-shadow: 0 8px 9px rgba(65, 104, 211), 0 8px 9px rgba(65, 104, 211);
  -moz-box-shadow: 0 8px 9px rgba(65, 104, 211), 0 8px 9px rgba(65, 104, 211);
  box-shadow:  0 8px 9px rgba(65, 104, 211), 0 8px 9px rgba(65, 104, 211);

}


/* added class for centering within a container (currently for login/signup) */

.vertical-center {

  max-width: 650px !important;
  justify-content: center !important;

}


/* remove cheap looking link underline and add a shine/hover */

a {
  text-decoration: none !important;
}


.formControl {

  max-width: 400px !important;
  margin-left:auto;
  margin-right:auto;
  justify-content: center !important;
  
}

