body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: rgb(20, 20, 20);
  font-style: oblique;
  color: white!important;
  text-shadow: 2px 2px rgba(65, 104, 211);
  background-image: url("../img/MIufnV.jpg");
}
.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 25px;
  line-height: 20px;
  height: 50px;
}
.navbar-brand:hover {
  color: white;
}
.navbar-default {
  background-color:rgb(20, 20, 20);
  border-color: rgb(20, 20, 20);
  box-shadow: 0 5px 15px rgba(65, 104, 211);
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.btn-default {
  color: rgb(255, 255, 255);
  background-color: rgb(20, 20, 20);
  box-shadow: 0 5px 15px rgba(65, 104, 211);
  border-color: rgb(20, 20, 20);
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 20px;
}
form.login {
  margin-top: 10px;
}

button.btn.btn-default:hover {
 color: rgb(65, 104, 211);
 box-shadow: 0 5px 15px rgba(65, 104, 211)
}
#email-input {
  box-shadow: 0 5px 15px rgba(65, 104, 211);
}
#email-input:focus {
  color: rgb(0, 0, 0);
  box-shadow: 0 3px 7px rgb(255, 255, 255);
}
#password-input {
  box-shadow: 0 5px 15px rgba(65, 104, 211);
}
#password-input:focus {
  color: rgb(0, 0, 0);
  box-shadow: 0 5px 15px rgb(255, 255, 255);
}
#name-input {
  box-shadow: 0 5px 15px rgba(65, 104, 211);
}
#name-input:focus {
  color: rgb(0, 0, 0);
  box-shadow: 0 5px 15px rgb(255, 255, 255);
}

a.navbar-brand:hover {
  color: rgb(65, 104, 211);
  box-shadow: 0 3px 7px rgba(65, 104, 211);
}
.h2 {
  font-weight: bolder;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(20, 20, 20);
  box-shadow: 0 3px 7px rgba(65, 104, 211);
  color: white;
  text-align: center;
}
#member-login {
  font-size: 20px;
  text-align: center;
  margin-top: -5px;  
}
.navbar-brand {
  color: white;
}
.jumbotron h1, .jumbotron .h1 {
  color:  rgb(20, 20, 20);
}
h3, .h3 {
  font-size: 24px;
  color: rgb(20, 20, 20); ;
}
#started {
  color: rgb(20, 20, 20); ;
  text-shadow: none;
  font-weight: bolder;
}
#signin {
  color: rgb(20, 20, 20); ;
  text-shadow: none;
  font-weight: bolder;
}
#signup {
  color: rgb(20, 20, 20); ;
  text-shadow: none;
  font-weight: bolder;
}

img {
  width: 500px;
  height: 100px;
  display: block;
  height: 300px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
} 

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;

}

.card-img, .card-img-bottom {
  border-bottom-right-radius: calc(.25rem - 1px);
  border-bottom-left-radius: calc(.25rem - 1px);
  width: 600px;
  height: auto;
}

.bg-light {
  background-color: rgb(20, 20, 20)!important;
}